/* * {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
} */

.containerHome {
  background-image: url("../images/bgHome.jpg");
  background-repeat: no-repeat;
  width: 100%;
}

.divTitleHome {
  padding-left: 25px;
}

.TitleHome {
  color: rgb(255, 217, 0);
}