.App-footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #023020;
    height: 5vh;
    text-align: right;
    font-style: italic;
    padding-top: 6px;
  }
  
  .App-footer--div {
    padding-right: 16px;
    font-size: calc(2px + 2vmin);
    color: #36454F;
  }